# Created by .ignore support plugin (hsz.mobi)
.idea
.target
project/target/config-classes/
project/target/scala-2.12/sbt-1.0/resolution-cache/default/authorization_server-build/
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-authorization_server-build-compile-internal.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-authorization_server-build-compile.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-authorization_server-build-optional.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-authorization_server-build-plugin.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-authorization_server-build-pom.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-authorization_server-build-provided.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-authorization_server-build-runtime-internal.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-authorization_server-build-runtime.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-authorization_server-build-scala-tool.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-authorization_server-build-test-internal.xml
project/target/scala-2.12/sbt-1.0/resolution-cache/reports/default-authorization_server-build-test.xml
project/target/streams/compile/compileIncSetup/
target/scala-2.12/classes/application.conf
target/scala-2.12/classes/bootstrap/
target/scala-2.12/classes/logback.xml
target/scala-2.12/classes/model/Authorization$.class
target/scala-2.12/classes/model/Authorization.class
target/scala-2.12/classes/model/FacebookIssuer.class
target/scala-2.12/classes/model/GoogleIssuer.class
target/scala-2.12/classes/model/Issuer.class
target/scala-2.12/classes/model/LoginInfo$.class
target/scala-2.12/classes/model/LoginInfo.class
target/scala-2.12/classes/model/Messages$.class
target/scala-2.12/classes/model/Messages$Authenticate$.class
target/scala-2.12/classes/model/Messages$Authenticate.class
target/scala-2.12/classes/model/Messages$BearerToken$.class
target/scala-2.12/classes/model/Messages$BearerToken.class
target/scala-2.12/classes/model/Messages$CreateUser$.class
target/scala-2.12/classes/model/Messages$CreateUser.class
target/scala-2.12/classes/model/Messages$FacebookUser$.class
target/scala-2.12/classes/model/Messages$FacebookUser.class
target/scala-2.12/classes/model/Messages$FindUser$.class
target/scala-2.12/classes/model/Messages$FindUser.class
target/scala-2.12/classes/model/Messages$GenerateToken$.class
target/scala-2.12/classes/model/Messages$GenerateToken.class
target/scala-2.12/classes/model/Messages$Implicits$.class
target/scala-2.12/classes/model/Messages$IssuerCredential$.class
target/scala-2.12/classes/model/Messages$IssuerCredential.class
target/scala-2.12/classes/model/Messages$LoginUser$.class
target/scala-2.12/classes/model/Messages$LoginUser.class
target/scala-2.12/classes/model/Messages$MessageJsonSupport$.class
target/scala-2.12/classes/model/Messages$MessageJsonSupport$PreAuthJsonFormat$.class
target/scala-2.12/classes/model/Messages$OauthLoginUser$.class
target/scala-2.12/classes/model/Messages$OauthLoginUser.class
target/scala-2.12/classes/model/Messages$PreAuth$.class
target/scala-2.12/classes/model/Messages$PreAuth.class
target/scala-2.12/classes/model/Messages$Provider$.class
target/scala-2.12/classes/model/Messages$Provider.class
target/scala-2.12/classes/model/Messages$UpdateToken$.class
target/scala-2.12/classes/model/Messages.class
target/scala-2.12/classes/model/OAuth1Info$.class
target/scala-2.12/classes/model/OAuth1Info.class
target/scala-2.12/classes/model/OAuth2Info$.class
target/scala-2.12/classes/model/OAuth2Info.class
target/scala-2.12/classes/model/OpenIDAttribute$.class
target/scala-2.12/classes/model/OpenIDAttribute.class
target/scala-2.12/classes/model/OpenIDInfo$.class
target/scala-2.12/classes/model/OpenIDInfo.class
target/scala-2.12/classes/model/PasswordInfo$.class
target/scala-2.12/classes/model/PasswordInfo.class
target/scala-2.12/classes/model/UserLoginInfo$.class
target/scala-2.12/classes/model/UserLoginInfo.class
target/scala-2.12/classes/model/UserRegistrationRequest$.class
target/scala-2.12/classes/model/UserRegistrationRequest.class
target/scala-2.12/classes/model/UserRegistrationResponse$.class
target/scala-2.12/classes/model/UserRegistrationResponse.class
target/scala-2.12/classes/model/UserXmlSupport.class
target/scala-2.12/classes/persistence/
target/scala-2.12/classes/service/AuthorizationServer$$anonfun$$nestedInanonfun$clientRegistrationRoute$7$1.class
target/scala-2.12/classes/service/AuthorizationServer$$anonfun$oauthGrantFlow$11.class
target/scala-2.12/classes/service/AuthorizationServer$UserUtil$.class
target/scala-2.12/classes/service/JsonSupport.class
target/scala-2.12/classes/service/XmlSupport.class
target/scala-2.12/classes/util/
target/scala-2.12/resolution-cache/distributed_systems_security/
target/scala-2.12/resolution-cache/org.scala-sbt.temp/
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security$sources-compile-internal.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security$sources-compile.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security$sources-optional.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security$sources-plugin.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security$sources-pom.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security$sources-provided.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security$sources-runtime-internal.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security$sources-runtime.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security$sources-scala-tool.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security$sources-test-internal.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security$sources-test.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security_2.12-compile-internal.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security_2.12-compile.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security_2.12-optional.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security_2.12-plugin.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security_2.12-pom.xml
target/scala-2.12/resolution-cac
he/reports/distributed_systems_security-distributed_systems_security_2.12-provided.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security_2.12-runtime-internal.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security_2.12-runtime.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security_2.12-scala-tool.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security_2.12-test-internal.xml
target/scala-2.12/resolution-cache/reports/distributed_systems_security-distributed_systems_security_2.12-test.xml
target/scala-2.12/resolution-cache/reports/org.scala-sbt.temp-temp-module-98ec89c315ed408f615fff2c4774286d17323b01-compile.xml
target/scala-2.12/resolution-cache/reports/org.scala-sbt.temp-temp-module-98ec89c315ed408f615fff2c4774286d17323b01-optional.xml
target/scala-2.12/resolution-cache/reports/org.scala-sbt.temp-temp-module-98ec89c315ed408f615fff2c4774286d17323b01-provided.xml
target/scala-2.12/resolution-cache/reports/org.scala-sbt.temp-temp-module-98ec89c315ed408f615fff2c4774286d17323b01-runtime.xml
target/scala-2.12/resolution-cache/reports/org.scala-sbt.temp-temp-module-98ec89c315ed408f615fff2c4774286d17323b01-test.xml
target/streams/$global/$global/$global/
target/streams/$global/$global/dumpStructureTo/
target/streams/compile/$global/
target/streams/compile/compile/
target/streams/compile/compileIncSetup/
target/streams/compile/compileIncremental/
target/streams/compile/copyResources/
target/streams/compile/dependencyClasspath/
target/streams/compile/exportedProducts/
target/streams/compile/internalDependencyClasspath/
target/streams/runtime/exportedProducts/
target/streams/test/$global/
target/streams/test/compile/
target/streams/test/compileIncSetup/
target/streams/test/compileIncremental/
target/streams/test/copyResources/
target/streams/test/definedTests/
target/streams/test/dependencyClasspath/
target/streams/test/exportedProducts/
target/streams/test/fullClasspath/
target/streams/test/internalDependencyClasspath/
target/streams/test/loadedTestFrameworks/
